@model E_CommerceWebsite.Models.Order
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h1>Checkout</h1>
<form asp-action="CreateOrder">
    <input type="text" asp-for="Address" placeholder="Address" required />
    <input type="text" asp-for="PaymentMethod" placeholder="Payment Method" required />

    @* <h3>Cart Summary</h3> *@
    @* @foreach (var item in Model.CartItem) *@
    @* { *@
    @*     <p>@item.ProductName - @item.Quantity x @item.Price</p> *@
    @* } *@

    <button type="submit">Place Order</button>
</form>
